.login {
    font-weight: 600;

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        & input {
            margin-bottom: 1rem;
            padding: 15px;
        }
    }
    & h3 {
        font-weight: 600;
    }

    .login-form-signup{
        cursor: pointer;
        color: $clr8;
        &:hover{
            color: $clr5;  
           
        }

    }

    .login-form-guest{
        margin-top: 2rem;
        color: $clr2;
        cursor: pointer;
    }
}
