.news-page-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
   

    & > h3 {
        font-weight: 600;
    }
   
}