.footer-container{
    color: white;
    text-align: center;
    // height: 196px;
    width: 100%;
    // background-color: $clr5;
    display: flex;
    align-items: center;
    justify-content: center;
}
