.move-preview-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    font-weight: 600;
    font-size: rem(13px);
    &:hover{
        background-color:$clr1;
    }
}