// Colors
$clr1: #13112a;
$clr2: #db32a2;
$clr3: #ffffff;
$clr4: #211d44;
$clr5: #1162ff;
$clr6: #4b477a;
$clr7: #4b477a;
$clr8: rgb(170, 255, 0);
$clr9: #ff0000;
$clr4a: #211d4465;
$clr2a: #db32a3bb;
$clr3a: rgba(1, 116, 188, 0.50);
$clr5a: #1160ffbb;
$clr9a: #ff0000ad;


// Breakpoints
$mobile-breakpoint: 375px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;